# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Install Deps
        uses: ./.github/workflows/install-deps-workflow.yml
      - name: Unit tests
        run: npm test

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Deps
        uses: ./.github/workflows/install-deps-workflow.yml
      - name: Transpile cjs and esm
        run: npm run build

  # release:
  #   runs-on: ubuntu-latest
  #   needs: [quality, build]
  #   steps:
  #     - name: Semantic release
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GIT_HUB_TOKEN }}
  #         NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  #       run: semantic-release
